<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>sec_alpha</display-name>
    
    
    <!-- misc -->
    <servlet-mapping>
        <servlet-name>GenerarReportesVotoServlet</servlet-name>
        <url-pattern>/admin/repotes/voto</url-pattern>
    </servlet-mapping>
    <!-- /misc -->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <!-- admin controller -->
    
    <servlet>
        <servlet-name>EspecialidadNAlumnus</servlet-name>
        <servlet-class>controllers.EspecialidadNAlumnus</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>EspecialidadNAlumnus</servlet-name>
        <url-pattern>/admin/Especialidad/act</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReturnEntityServlet</servlet-name>
        <servlet-class>views.ReturnEntityServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AdminEndSessionServlet</servlet-name>
        <servlet-class>controllers.AdminEndSessionServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>views.AdminDashboardServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EntityServlet</servlet-name>
        <servlet-class>views.EntityServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EntityActionServlet</servlet-name>
        <servlet-class>controllers.EntityActionServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GenerarReportesServlet</servlet-name>
        <servlet-class>views.GenerarReportesServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VotacionIndexPresidente</servlet-name>
        <servlet-class>views.VotacionIndexPresidenteServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>PresidenteVotacionServlet</servlet-name>
        <servlet-class>controllers.PresidenteVotacionServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>sourcePresidenteVotacion</servlet-name>
        <servlet-class>views.sourcePresidenteVotacion</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GenerarReportesVotoServlet</servlet-name>
        <servlet-class>views.GenerarReportesVotoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UploadExcelAlumnoServlet</servlet-name>
        <url-pattern>/admin/import/alumnos</url-pattern>
    </servlet-mapping>
    
    <!-- /admin controller -->
    
    <!-- adminURLs -->
    
    <servlet>
        <servlet-name>SubirArchivo</servlet-name>
        <servlet-class>controllers.UploadImagenCandidatoServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AdminLogServlet</servlet-name>
        <servlet-class>views.AdminLogServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UploadExcelAlumnoServlet</servlet-name>
        <servlet-class>controllers.UploadExcelAlumnoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SubirArchivo</servlet-name>
        <url-pattern>/uploads</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RouterAdminServlet</servlet-name>
        <servlet-class>controllers.routers.RouterAdminServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AdminLogServlet</servlet-name>
        <url-pattern>/login/admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RouterAdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    
    <!-- /adminURLs -->
    
    <!-- votacion controllers -->
    
    <servlet>
        <servlet-name>ReturnQuestionsServlet</servlet-name>
        <servlet-class>controllers.ReturnQuestionsServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VotacionIndexServlet</servlet-name>
        <servlet-class>views.VotacionIndexServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VotacionCompletadaServlet</servlet-name>
        <servlet-class>controllers.VotacionCompletadaServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>VotacionIndexPresidenteServlet</servlet-name>
        <servlet-class>views.VotacionIndexPresidenteServlet</servlet-class>
    </servlet>
    
    <!-- /votacion controllers -->
    
    <!-- votacion mapping -->
    
    <servlet-mapping>
        <servlet-name>PresidenteVotacionServlet</servlet-name>
        <url-pattern>/votacion/presidente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>sourcePresidenteVotacion</servlet-name>
        <url-pattern>/r/presidente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VotacionIndexPresidente</servlet-name>
        <url-pattern>/login/votacion/presidente</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VotacionIndexServlet</servlet-name>
        <url-pattern>/login/votacion/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ReturnQuestionsServlet</servlet-name>
        <url-pattern>/votacion/</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>VotacionCompletadaServlet</servlet-name>
        <url-pattern>/votacion/completada/</url-pattern>
    </servlet-mapping>
    
    <!-- votacion mapping -->
    
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
    
    <!-- Filters  -->
    
    <filter>
        <filter-name>VotacionCandidatosFilter</filter-name>
        <filter-class>controllers.filters.VotacionCandidatosFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>VotacionCandidatosFilter</filter-name>
        <url-pattern>/votacion/*</url-pattern>
    </filter-mapping>
    
    <!-- /Filters  -->
</web-app>